<div>
<mat-toolbar class="toolbar"fxLayout fxLayoutGap="5px" fxfill>
    <a mat-button (click)="openLoginForm()" >ورورد</a>
    <span >/</span>
    <a mat-button class="fontfa" >ثبت نام</a>

    <span class="flexspacer"></span>
    <a fxHide.lt-md="true"  mat-button>خرید اشتراک</a>
    <button><fa-icon [icon]="famag" ></fa-icon></button>
    <mat-slide-toggle></mat-slide-toggle>
    <span class="fullflexspacer"></span>

    <div fxLayout fxLayoutGap="25px">
        <a mat mat-button>تماس با ما</a>
        <a mat-button>فیلم</a>
        <a mat-button>سریال</a>
    </div>

    <span class="flexspacer"><img src="./assets/images/download.png" alt="logo"  height="45px"></span>
  
</mat-toolbar>

    </div>