<div class="containerfoot footer"   >
    <div fxLayout="column" fxFlex="25" fxLayoutGap="10px">
    <div   fxLayoutAlign="center">
        <a href="https://web.telegram.org/" class="tel">
         <h3>عضویت در کانال تلگرام</h3>
         <fa-icon fxLayoutAlign="center" [icon]="fatel" size="lg" [styles]="{'stroke': 'red', 'color': 'orange'}"></fa-icon> </a>
        
    </div>
    <div   fxLayoutAlign="center"  >
        <a href="https://web.telegram.org/" class="tel">
         <h3>عضویت در کانال تلگرام</h3>
         <fa-icon fxLayoutAlign="center" [icon]="fatel" size="lg" [styles]="{'stroke': 'red', 'color': 'orange'}"></fa-icon> </a>
        
    </div>
</div>

<div>
<mat-list >
    <mat-list-item class="li" dir="rtl">
        <a  matLine href="">دانلود سریال</a>
        <a matLine href="">دانلود فیلم</a>
        <a matLine href="">ثبت نام</a>
        <a matLine href="">ورود</a>

    </mat-list-item>
</mat-list>
</div>
<span class="fullflexspacer"></span>
<p fxLayoutAlign="center end" >تمامی حقوق مادی و معنوی این وبسایت محفوظ می باشد و کپی برداری به هر نحوه پیگرد قانونی خواهد داشت</p>

</div>
