
.sidebar{
        z-index: -1;
        // position:absolute;
        right: 0;
        width: 96%;
        padding: 0;
        // min-height: 55vh;
        height: 99%;
         background: #242424;
         border-radius: 10px;
         margin-top: 2%; 
         justify-content: space-between;
         margin-right: 1%;
        

}
.sideitem{
        width: 100%;
        margin-top: 2%;
        justify-content: space-between;
}
.sideitem img{
       margin-left: 5%;
       margin-right:5% ;
        width: 90%;
        height: auto;
        border-radius: 10px;
 
}
.sideitem a{
        text-decoration: none;
        
}
.sideitem  h3 {
        color: beige;
        text-align: center;
        
        

}