
.diva{
 
    margin: auto;
    padding: auto;
  
}

.con{
    width: 50%;
    position:relative;
    display: block;

    background-color: #242424;
    border-radius: 5%;
    margin-top: 5%;

    color: white;
 
}
.con img{
    margin-top: 1%;
    border-radius: 10%;
    margin: 1%;
}
.comment-con{
    
    background-color: #817d7d;
    border-radius: 15px;
    width: 80%;
    margin: auto;
    
}
.comment{
    background-color: #242424;
    border-radius: 15px;
    width: 95%;
    margin: auto;
    
}